# Streamlit UI
streamlit

# Data handling
numpy
pandas

# Machine Learning
scikit-learn
xgboost

# Saving/loading models
joblib

# HTTP requests (for downloading model in Streamlit)
requests

# Visualization
matplotlib
seaborn
